h1{
    border:5px solid;
    width:300px;
    border-color:green;
    border-radius:200px;
    padding:5mm;
    padding-left:30mm;

}
#p1{
    border:dotted red;
    width:400px;
    padding:15px;
    margin:solid;
    height: 85px;
    margin-left: 600px;
}
#p2{
    border:solid red;
    margin-top:100px;
    margin-left:100px;
    margin-bottom:100px;
    margin-right:100px;
}
#p3{
    margin:10%;
}
#p4{
    margin-left:auto;
}
#p5{margin-right:auto;

}
#p6{
    
}