h1{
    border:1px solid;
    width:250px;
    text-shadow:5px 5px 4px rgba(rgb(13, 87, 248), green, blue, alpha),6px -5px 5px orange;
    background-color: blue;
    horizontal.
    vertical.
    blur.
    color(name,rgb,hex)
    box-shadow: 5px 5px 4px yellow,10px -5px orange;
}